repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform.git
    rev: v1.75.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_tfsec
      - id: terraform_validate
        args:
          - --args=-json
          - --args=-no-color
      # - id: terraform_providers_lock
      #   args:
      #     - --args=-platform=windows_amd64
      #     - --args=-platform=darwin_amd64
      #     - --args=-platform=darwin_arm64
      #     - --args=-platform=linux_amd64
